In [ ]:
#function

In [ ]:
def test():
  print("My first fun")

In [ ]:
test()+"sudh"                                        #nontype+string not possible

My first fun

TypeError: ignored

In [ ]:
type(test())

My first fun

NoneType

In [ ]:
#it is a nontype and we re trying to perform append operation with string then it gives error

In [ ]:
def test1():
  return "this is my first fun"

In [ ]:
test1()  + " sudh"    #this worked bcz here we are using return insted of print ,print will return in non type but return will return its actual datatype

'this is my first fun sudh'

In [ ]:
def test2():     #this error occurs due to not given body of function

SyntaxError: ignored

In [ ]:
def test2():
  pass

In [ ]:
def test3():
  return 1,2,3,4,[1,2,3,5]

In [ ]:
test3()

(1, 2, 3, 4, [1, 2, 3, 5])

In [ ]:
a=10
b=20
c=30

In [ ]:
a,b,c=10,20,30

In [ ]:
a,b,c,d=test3()

ValueError: ignored

In [ ]:
def test4():
  a=4*5
  b=5*6
  return a,b

In [ ]:
g=test4()

In [ ]:
g

(20, 30)

In [ ]:
j,k=test4()

In [ ]:
j

20

In [ ]:
k

30

In [ ]:
_,m=test4()

In [ ]:
m

30

In [ ]:
_   #it is called as placeholder

30

In [ ]:
def test5():
  a=1
  b=10
  while a<b:
    print(a)
    a=a+2
  else:
    print("this block")

In [ ]:
test5()

1
3
5
7
9
this block

In [ ]:
def test5(a,b):        #passing value in argument nd calling the function
  while a<b:
    return a
    a=a+2
  else:
    print("this block")

In [ ]:
test5(1,10)

1

In [ ]:
test5(1,20)

1

In [ ]:
l=[4,5,6,7,[3,4,5,6],"sudh"]

In [ ]:
l1=[]
for i in l :
  if type(i)==int:
    l1.append(i)

In [ ]:
l1

[4, 5, 6, 7]

In [ ]:
def test6():
  l1=[]
  for i in l:
    if type(i)==int:
      l1.append(i)
    return l1

In [ ]:
test6()

[4]

In [ ]:
# print using while loop
a=0
n=10
while(a<=n):
  print("a"*a,end=" ")
  print()
  a=a+1

a
aa
aaa
aaaa
aaaaa
aaaaaa
aaaaaaa
aaaaaaaa
aaaaaaaaa
aaaaaaaaaa

In [ ]:
#
A
B H
C I N
D J O S 
E K P T W
F L Q U X Z
G M R V Y

In [ ]:
n=5
for i in range(n):   #01234
  for j in range(i,-1,-1):  #0,(0,1),(0,1,2),(0,1,2,3),(0,1,2,3,4)   #it will print 1,2 1,3 2 1,4 3 2 1,5 4 3 2 1
    print(j+1,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
n=5
for i in range(n):                 #01234
  for j in range(i+1):        #0,(0,1),(0,1,2),(0,1,2,3),(0,1,2,3,4)   #it will print 1,2 1,3 2 1,4 3 2 1,5 4 3 2 1
    print(i+1,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n=5
for i in range(n):   #01234
  for j in range(i,-1,-1):  #0,(0,1),(0,1,2),(0,1,2,3),(0,1,2,3,4)   #it will print 1,2 1,3 2 1,4 3 2 1,5 4 3 2 1
    print(j+1,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
n=5
for i in range(n):   #01234
  for j in range(i,-1,-1):  #0,(0,1),(0,1,2),(0,1,2,3),(0,1,2,3,4)   #it will print 1,2 1,3 2 1,4 3 2 1,5 4 3 2 1
    print(j+1,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
n=5
for i in range(n):   #01234
  for j in range(i+1):  #0,(0,1),(0,1,2),(0,1,2,3),(0,1,2,3,4)   #it will print 1,2 1,3 2 1,4 3 2 1,5 4 3 2 1
    print(n-i,end=" ")
  print()              #here print 5-0=5,5-1=4,5-2=3,2,1 similerly

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
for i in range(n):   #01234
  for j in range(i+1):  #0,(0,1),(0,1,2),(0,1,2,3),(0,1,2,3,4)   #it will print 1,2 1,3 2 1,4 3 2 1,5 4 3 2 1
    print(n-j,end=" ")
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
n=5
for i in range(n):   #01234
  for j in range(i,-1,-1):  #0,(0,1),(0,1,2),(0,1,2,3),(0,1,2,3,4)   #it will print 1,2 1,3 2 1,4 3 2 1,5 4 3 2 1
    print(n-j,end=" ")    #prints 5,then reverse index (0,1) to (1,0) then performs task and continues like (0,1,2) and it become(2,1,0)
  print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [ ]:
n=5
for i in range(n):   #01234
  for j in range(n-i-1):  
    print(" ",end=" ")
  for j in range(i+1):
    print(j+1,end=" ")
    print()

        1
      1
2
    1
2
3
  1
2
3
4
1
2
3
4
5