In [ ]:
a=10
if a == 10:
  print("this is my pehla codition")

this is my pehla codition

In [ ]:
a=10
if a > 10 :
  pass

In [ ]:
a=10
a<8
print("not a true comdition")

not a true comdition

In [ ]:
a=10
if a != 10 :
  print("not matching the condition")
else:
   print("this is else statment")

this is else statment

In [ ]:
a=10
if a > 5:
  print("this is greater than 5")
elif a<5:
  print("this is lesser") 
else:
  print("not a right situation")

this is greater than 5

In [ ]:
price=450
if price > 500 :
  print("can not buy")
elif price<500 :
  print("aaj shopping krega bhai")
else :
  print("mood kharab cancel")

aaj shopping krega bhai

In [ ]:
l=[1,2,3,4,5]

In [ ]:
2 in l

True

In [ ]:
if 2 in l:
  print("try to perform task")
elif 3 in l:                             #if firsr condition is true it does not check any other condition
   print("perform task") 
else: 
   print("do not perform task")

try to perform task

In [ ]:
a=400

In [ ]:
b=input()   # whatever input we take it will take as string used for self input

abc

In [ ]:
type(b)

str

In [ ]:
b=int(input())  #we re typecasting it into int and it should be numeric value

123

In [ ]:
price=int(input())  #type casted to int for taking numeric input
if price < 500 :
  print("i can buy a jacket")
elif price >500 :
  print("price is out of budget")
else:
  print("bs ab natak band kr")

609
price is out of budget

In [ ]:
val=float(input("enter a floting no"))

enter a floting no12.55

In [ ]:
if val > 0.5 :
  print("entered value is greater")
else:
  print("enterd value 0.0 to pkka ni hai")

entered value is greater

In [ ]:
if val>5 :
  if val<10:
    print("value is between 5 to 10")
    else :   
    print("value is less than 5")
else:
    print("value is greater than 5")

SyntaxError: ignored

In [ ]:
a=10                                # 0 or 0=0
if a < 10 or a == 10 :              # 0 or 1=1
  print("codition is not true")     #1 or 1=1         #here both the condition firts is false but second onr is true so answer witll be 0 or 1=1
                                   #1 or 0=1

codition is not true

In [ ]:
a="sudh"
if a=="sudh" and a=="sudh" :
  print("print sudh")

print sudh

In [ ]:
a="sudh"
if a=="sudh" or a=="Sudh" :    #here sudh one side Sudh is capital letter s
  print("print sudh")

print sudh

In [ ]:
a=10
b=11
c=13
d=13
if a == 9 and b == 11 and c == 11 and c == 13 :        #here f and true and true and true becomes
  print("lets do someting")

In [ ]:
d={"key1":"value1","key2":"sudh","key3":"ineuron"}

In [ ]:
if d['key1']=="value1"and ['key2']=="sudh" and d['key3']=="ineuron" :
  print("values are true")
  print(d.values())
else:
  print("all values are not satisfied")

all values are not satisfied

In [ ]:
d['key1']

'value1'

In [ ]:
# loopng statment

In [ ]:
l=[1,3,4,5,"ayush",3,5,7.5,8]

In [ ]:
l[2:5]

[4, 5, 'ayush']

In [ ]:
for i in l:  # goes to list and starts extraction data one by one
  print(i)

1
3
4
5
ayush
3
5
7.5
8

In [ ]:
for i in l:                          #what we are doing here is first doing type conversion in list and if we find 
  if type(i)==int:
    print(i+1)
  elif type(i) == str:
    print(i+str(1))
  elif type(i)==float:
    print(i+float(1))

2
4
5
6
ayush1
4
6
8.5
9

In [ ]:
l=[1,2,3,4,5,6,7]
for i in l :
  print(l)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
l=[]
for i in l :
  if type(i)==int:
    l.append(i)

In [ ]:
l

[]

In [ ]:
l

[1, 3, 4, 5, 'ayush', 3, 5, 7.5, 8]

In [ ]:
l1=[1,2,3,4]

In [ ]:
l=[1,3,4,5,"sudh","kumar",34.45]

In [ ]:
for i in l:
  print(i)

1
3
4
5
sudh
kumar
34.45

In [ ]:
for i in l:
  pass

In [ ]:
s="sudh"
for i in s:
  print(i)

s
u
d
h

In [ ]:
for i in l:
  print(i)
else:
  print("it is else case")

1
3
4
5
sudh
kumar
34.45
it is else case

In [ ]:
for i in l:
  if i == 4:
    break
  print(i)
else:
  print("it will be else loop")

1
3

In [ ]:
s="ayush"
for i in s:
  if i=='p':
    break
  print(i)
else:
 print("missing letter",s)

a
y
u
s
h
missing letter ayush

In [ ]:
t=(4,5,6,7,"ayush")

In [ ]:
for i in t:
  print(i)

4
5
6
7
ayush

In [ ]:
set={4,5,6,7,7,7,8,8,"sudh"}

In [ ]:
type(set)

set

In [ ]:
set

{4, 5, 6, 7, 8, 'sudh'}

In [ ]:
for i in set:
  print(i)

sudh
4
5
6
7
8

In [ ]:
d={"key1":"ayush","key2":"value2"}

In [ ]:
for i in d:
  print(i)
  print(d[i])

key1
ayush
key2
value2

In [ ]:
d['key1']

'ayush'

In [ ]:
#hence we can iterate through list tuple dictionary set and we did it ealier

In [ ]:
range(9)
#it give a range(0 to 9) excluding 9

range(0, 9)

In [ ]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
for i in range(9):
  print(i)

0
1
2
3
4
5
6
7
8

In [ ]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list(range(0,9,2))   #here we have given jump value of 2

[0, 2, 4, 6, 8]

In [ ]:
list(range(0,9,-1))

[]

In [ ]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
n=4
for i in range(4):   #this produce 0,1,2,3
  for j in range(0 ,i+1):    #this range will keeo updated till 4
    print("sudh",end = " ")    #print sudh
  print('\n')              # breaks line

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [ ]:
n=3
for i in range(n):
  for j in range(i,n-1):
    print(""*len("ayush"),end=" ")
  for j in range(i+1):
    print("ayush",end=" ")
  for j in range(i):
    print("ayush",end=" ")
    print()

  ayush  ayush ayush ayush
ayush ayush ayush ayush
ayush

In [ ]:
n=4
for i in range(0, n):
  for j in range(0, i+1):
    print("ayush ",end="")
  print("\r")

ayush
ayush ayush
ayush ayush ayush
ayush ayush ayush ayush

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

Enter number of rows: 5
*

* *

* * *

* * * *

* * * * *

In [ ]:
n=3
for i in range(n):
  for j in range(i,n-1):  #this goes 1 to 2 ie 2 space in first line
    print("",end=' ')
  for j in range(i+1):    #this range is from 1st line to print sudh one time
    print("sudh",end=' ')
  print()

  sudh
 sudh sudh
sudh sudh sudh

In [ ]:
n=3
for i in range(n):
  for j in range((n-1),i):
    print("",end=' ')
  for j in range(i-1):
    print("sudh",end=' ')
  print()

sudh

In [ ]:
n=3                                        #here we decakared the no of rows till we want to print
for i in range(n):                         # we got our range(3)i.e-0,1,2
  for j in range(i,n-1):                   #here range is for i 0,1
    print(" "*len("sudh"),end=" ")         #here it will print space *4 =4 space
  for j in range(i+1):                     #here it is 1,
    print("sudh",end=" ")                  # print sudh for 0+1=1 time and end eith space
  for j in range(i):                       # value of range i again in 1th row print again sudh
    print("sudh",end=" ")
  print()                                   # next line in the loop

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [ ]:
t=(1,2,3,4,5,5,5,6,67,8,9)  #print indices as well as element  of tuple

In [ ]:
str="abcd"

In [ ]:
str.replace(str,"pqrs")

'pqrs'

In [ ]:
str

'abcd'

In [ ]:
str

'abcd pqrs'

In [ ]:
a="ayush anand"

In [ ]:
a.center(20,"@")

'@@@@ayush anand@@@@@'

In [ ]:
t=(1,2,3,4,5,6,7,8,9)

In [ ]:
len(t)

9

In [ ]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
for i in range(len(t)):
  print(i,t[i])   #tuple element with index

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [ ]:
s="ineuron"
for i in range(len(s)):
  print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [ ]:
for i in range(len(s)-1,-1,-1):
   print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [ ]:
d={"key1":"value1","key2":"value2","key3":"value3"}

In [ ]:
for i in d.items():
  print(i)

('key1', 'value1')
('key2', 'value2')
('key3', 'value3')

In [ ]:
print(type(i))

<class 'tuple'>

In [ ]:
print(type(i[1]))

<class 'str'>

In [ ]:
l=["ayush","kumar",3456,"abcd",45.95]

In [ ]:
l1=[]
for i in l:
  if type(i)==int:
    l1.append(i)

In [ ]:
l1

[3456]

In [ ]:
d={1:3456,"name":"sudh","emailid":"ayushanand@zsassociate.com"}

In [ ]:
#all values or pair key should be numeric one
for i in d.items():
  print(i,type(i),type([1]))

(1, 3456) <class 'tuple'> <class 'list'>
('name', 'sudh') <class 'tuple'> <class 'list'>
('emailid', 'ayushanand@zsassociate.com') <class 'tuple'> <class 'list'>

In [ ]:
l=["ayush","kumar",3254,"ayushanand2702@gmail.com",45,785]   #extract only numeric value

In [ ]:
l1=[]
for i in l:
  if type(i)==int:
    l1.append(i)

In [ ]:
l1

[3254, 45, 785]

In [ ]:
d={1:245,"name":"ayush","emailid":"ayushanand2701@gmail.com"}

In [ ]:
#value pair where key is numeric
for i in d:
  if type(i)==int:
   print(i,":",d[i])

1 : 245

In [ ]:
s="aaabbbbcccddd"
a=3
b=4
c=3
d=3

In [ ]:
for i in s:
  if(s==a):
    print(count(a))

In [ ]:
a

3

In [ ]:
for i in set(s):
  print(i ,":",s.count[i])

TypeError: ignored

In [ ]:
i=3456789
for j in str(i):
  print(j,type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>

In [ ]:
str(i)

'3456789'

In [ ]:
t=("sudh","kumar",[1,2,3,4,5],(3,4,5,6),{"key1":"value1","key2":"value2"})

In [ ]:
for i in t:
  if type(i)==tuple or type(i)==list or type(i)==dict:
    for j in i:
      if j==3:
        print(j)

3
3

In [ ]:
d={4:4,"key1":"value","key2":"value2"}

In [ ]:
for i in d.items():
  print(i)

(4, 4)
('key1', 'value')
('key2', 'value2')