In [ ]:
n=5 
for i in range(n):   #0,1,2,3,4
  for j in range(i): #0,1,2,3,4
    print("ineuron",end=" ")

ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron

In [ ]:
n=5
for i in range(n):   #0,1,2,3,4
  print(" "*(n-i),end="*"*i)
  print()

    *
   **
  ***
 ****

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(end="* ")
  print()
for i in range(n):
  for j in range(i,n):
    print(end="* ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=5
for i in range(n,0,-1):
  print(" "*(2*(n+1-1))+"*"*(n+1-i))

          *
          **
          ***
          ****
          *****

In [ ]:
n=6
for i in range(n):
  for j in range(n):
    if(i==0 or i==n-1 or j==0 or j==n-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * *
*         *
*         *
*         *
*         *
* * * * * *

In [ ]:
n=3
b=6
for i in range(n):
  for j in range(b):
    if(i==0 or i==n-1 or j==0 or j==b-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * *
*         *
* * * * * *

In [ ]:
n=5
for i in range(n):
  print("i"*(n-i),end=" ")
  print()

iiiii
iiii
iii
ii
i

In [ ]:
for i in range(0,5):
  even=10
  for j in range(0,i+1):
    print(even," ",end=" ")
    even=even-2
  print()

10
10   8
10   8   6
10   8   6   4
10   8   6   4   2

In [ ]:
for i in range(0,8):
  for j in range(0,i+1):
    print(i*j," ",end=" ")
  print()

0
0   1
0   2   4
0   3   6   9
0   4   8   12   16
0   5   10   15   20   25
0   6   12   18   24   30   36
0   7   14   21   28   35   42   49

In [ ]:
1 

3 3 

5 5 5 

7 7 7 7 

9 9 9 9 9

In [ ]:
for i in range(0,5):
  for j in range(0,i):
    print(((i*2)-1)," ",end=" ")
  print()

1
3   3
5   5   5
7   7   7   7

In [ ]:
for i in range(0,5):
  for j in range (0,i):
    print("i",end=" ")
  print()

i
i i
i i i
i i i i

In [ ]:
for i in range(0,5):
  for j in range(0,i+1):
    print(" "*i)
    print(i+5-1,end=" ")
  print()

4

5
5

6
6
6

7
7
7
7

8
8
8
8
8

In [ ]:
for i in range(5,0,-1):
  for j in range(0,i):
    print(i,end=" ")
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
for i in range(5,0,-1):
  for j in range(0,i):
    print(" ",end=" ")
    print(2*i-1,end=" ")
  print()

  9   9   9   9   9
  7   7   7   7
  5   5   5
  3   3
  1

In [ ]:
for i in range(5,0,-1):
  for j in range(0,i):
    print(" "*i,end=" ")
  for j in range(0,i):
    print("*"*(2*i-1))
print()

                              *********
*********
*********
*********
*********
                    *******
*******
*******
*******
            *****
*****
*****
      ***
***
  *