In [ ]:
1. print
ineuron
ineuron ineuron
ineuron ineuron ineuron

In [ ]:
2.         ineuron
     ineuron       ineuron
ineuron    ineuron   ineuron

In [ ]:
3. #l=[[1,2,3,4],(2,3,4,5),set([23,4,5,67,73,45,67,7,88],{"k1":"sudh","k2":"ineuron","k3":"kumar"})]
#try to extract all the list entity
#4 try to extract all the dictionary entity
#try to extract all tuple entity
#try to extract all numerical data
#give summesion of numeric data
#try to filter odd value of numeric data which is part of list
#try to extract ineuron from it
#try to find number of occurence of data
#try to find out no of keys in data
#try to find out alphanumeric in data
#try to find out all string in data
#try to find out multiplication of all individual collection inside data set
#try to unwrap all the collection inside a dataset

3.0

In [ ]:
l=[[1,2,3,4],(2,3,4,5),set([23,4,5,67,73,45,67,7,88]),{'k1':"sudh",'k2':"ineuron",'k3':"kumar"}]

In [ ]:
#try to extract all the list entity
for i in l:
  if type(i)==list:
    print(i)

[1, 2, 3, 4]

In [ ]:
#4 try to extract all the dictionary entity
for i in l:
  if type(i)==dict:
    print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar'}

In [ ]:
#try to extract all tuple entity
for i in l:
  if type(i)==tuple:
    print(i)

(2, 3, 4, 5)

In [ ]:
for i in l:
  if type(i)==dict:
    print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar'}

In [ ]:
for i in l:
  if type(i)==tuple or type(i)==dict or type(i)==set :
    for j in i:
      if l==int:
        print(l)

In [ ]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5),
 {4, 5, 7, 23, 45, 67, 73, 88},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar'}]

In [ ]:
# find out all the key values in dict
for i in l:
    print(i)

[1, 2, 3, 4]
(2, 3, 4, 5)
{67, 4, 5, 7, 73, 45, 23, 88}
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar'}

In [ ]:
#filter out ineuron
l=[[1,2,3,4],(2,3,4,5),set([23,4,5,67,73,45,67,7,88]),{'k1':"sudh",'k2':"ineuron",'k3':"kumar"}]
for i in l:
  if l=="ineuron":
    print(l[i])

In [ ]:
for i in l:
  if type(i)== int:
    print()

[1, 2, 3, 4]
<built-in method count of list object at 0x7fede068d640>
(2, 3, 4, 5)
<built-in method count of list object at 0x7fede068d640>
{67, 4, 5, 7, 73, 45, 23, 88}
<built-in method count of list object at 0x7fede068d640>
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar'}
<built-in method count of list object at 0x7fede068d640>

In [ ]:
for i in l:
  if type(i)==tuple or type(i)==set or type(i)==dict:
    if l==int:
      if l%2==0:
        print("no odd no")
    else:
      print(l)

[[1, 2, 3, 4], (2, 3, 4, 5), {67, 4, 5, 7, 73, 45, 23, 88}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar'}]
[[1, 2, 3, 4], (2, 3, 4, 5), {67, 4, 5, 7, 73, 45, 23, 88}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar'}]
[[1, 2, 3, 4], (2, 3, 4, 5), {67, 4, 5, 7, 73, 45, 23, 88}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar'}]

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar'}